<section class="sidenav-content">
  <a routerLink="/home" class="nav-link" [class.active]="section=='home'">
    Overview
  </a>
  <section class="nav-group collapsible">
    <input id="stations" type="checkbox">
    <label for="stations">Stations</label>
    <ul class="nav-list">
      <li *ngFor="let station of stations">
        <a class="nav-link" routerLink="/stations/{{station.name}}" [class.active]="section=='stations' && currentItem==station.name" (click)="onStationChanged(station)">
          {{station.name}}
        </a>
      </li>
    </ul>
  </section>
  <section class="nav-group collapsible">
    <input id="locations" type="checkbox">
    <label for="locations">Locations</label>
    <ul class="nav-list">
      <li *ngFor="let location of rooms">
        <a class="nav-link" routerLink="/locations/{{location.name}}" [class.active]="section=='locations' && currentItem==location.name" (click)="onLocationChanged(location)">
          {{location.name}}
        </a>
      </li>
    </ul>
  </section>
</section>
