<div class="main-container">
  <app-header section="home"></app-header>
  <div class="content-container">
    <div class="content-area">
      <div *ngIf="!station && !loadError">
        <span class="spinner spinner-inline">
          ...
        </span>
        <span>
          Loading, please wait...
        </span>
      </div>
      <div *ngIf="loadError && !station">
        <div class="alert alert-danger" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
              </div>
              <span class="alert-text">
                {{loadError}}
              </span>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="station && !station.sources.length">
        <div class="alert alert-warning" role="alert">
          <div class="alert-items">
            <div class="alert-item static">
              <div class="alert-icon-wrapper">
                <clr-icon class="alert-icon" shape="exclamation-triangle"></clr-icon>
              </div>
              <span class="alert-text">
                There are no active sources.
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="clr-row" *ngIf="station && !sourceDetails">
        <div class="clr-col-lg-4 clr-col-12" *ngFor="let source of station.sources">
          <a class="card clickable" routerLink="/stations/{{name}}/sources/{{source.name}}">
            <div class="card-block">
              <h3 class="card-title">
                <clr-icon shape="details"></clr-icon>
                {{source.name}}
              </h3>
              <div class="card-text">
                <div class="clr-row">
                  <div class="clr-col">
                    <ul class="list-unstyled">
                      <li *ngFor="let sensor of source.sensors">
                        <clr-icon shape="logout"></clr-icon>
                        {{sensor}}
                      </li>
                    </ul>
                  </div>
                  <div class="clr-col">
                    <ul class="list-unstyled">
                      <li *ngFor="let effector of source.effectors">
                        <clr-icon shape="login"></clr-icon>
                        {{effector}}
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div *ngIf="station && sourceDetails">
        <a routerLink="/stations/{{name}}">
          <clr-icon shape="arrow" style="transform: rotate(270deg);"></clr-icon>
          Back
        </a>
        <h2>{{sourceDetails.name}}</h2>
        <div *ngIf="loadError">
          <div class="alert alert-danger" role="alert">
            <div class="alert-items">
              <div class="alert-item static">
                <div class="alert-icon-wrapper">
                  <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                  {{loadError}}
                </span>
              </div>
            </div>
          </div>
        </div>
        <div>
          <highcharts-chart style="width: 100%; display: block" [Highcharts]="highcharts" [options]="chartOptions" (chartInstance)="storeChartInstance($event)">
          </highcharts-chart>
        </div>
        <form clrForm>
          <div class="clr-row">
            <div class="clr-col-lg-4 clr-col-12" *ngFor="let effector of effectors">
              <div class="card">
                <div class="card-header">
                  {{effector.name}}
                </div>
                <div class="card-block">
                  <div class="card-text">
                    <clr-input-container>
                      <label>Duration (sec):</label>
                      <input clrInput name="duration" [(ngModel)]="effector.duration" type="number" min="1" max="300" />
                    </clr-input-container>
                  </div>
                </div>
                <div class="card-footer">
                  <button class="btn btn-sm btn-link" (click)="turnEffectorOn(effector)">Turn On</button>
                  <button class="btn btn-sm btn-link" (click)="turnEffectorOff(effector)">Turn Off</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <nav class="sidenav">
      <app-home-navigation section="stations" [currentItem]="name" (stationChanged)="loadStation($event.name)"></app-home-navigation>
    </nav>
  </div>
</div>
